@media screen and (min-device-width:1300px) {

body {
    color: white;
    text-align: center;
    padding-top: 40px;
    background-image: url("../image/imgBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

a {
    text-decoration: none;
    color: #000000;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.formatarTexto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

.esconde {
    display: none !important;
}

.semClicar {
    pointer-events: none;

}

/* =================== CABECALHO =================== */
header {
    height: 100px;
    width: 1200px;
    margin: 0px auto;
    color: black;
}

#caixaUsuario {
    height: inherit;
    width: 250px;
    float: left;
}

#caixaUsuario img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px ridge rgb(73, 133, 230);
    cursor: pointer;
}

#caixaRedeSocial {
    min-height: 100px;
    height: auto;
    width: 350px;
    background-color: white;
    border: 2px solid rgb(73, 133, 230);
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
    display: none;
}

.imgRedeSocial, .imgRedeSocial img {
    height: 54px;
    width: 54px;
    margin: 0px auto;
    float: left;
}

.imgRedeSocial {
    margin-left: 30px;
    margin-right: 10px;
}

figcaption {
    margin-top: 20px;
    float: left;
}

.mostrarAniamacaoUsuario {
    animation: mostrarAnimacaoUsuario 750ms;
    animation-fill-mode: forwards;
}

.esconderAniamacaoUsuario {
    animation: esconderAnimacaoUsuario 1050ms;
    animation-fill-mode: backwards;
}

@keyframes mostrarAnimacaoUsuario {
    from {
        opacity: 0;
        transform: translateX(-25%);
        
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes esconderAnimacaoUsuario {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(-25%);
        
    }
}


/* =================== CORPO =================== */

h1 {
    font-size: 2em;
    font-family: fantasy;
    text-align: center;
}

#caixaCentraliza {
    min-height: 500px;
    height: auto;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;

    color: black;
    font-family: 'Courier New', Courier, monospace;

    margin: 30px auto;
    padding: 50px;
    box-sizing: border-box;
}

/* CORPO - FORMULARIO */

#caixaPesquisa {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    height: 30px;
    width: 300px;
    border: none;
    box-shadow: 0px 0px 4px rgb(0, 128, 255);
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 50px;
    background-color: rgb(255, 255, 255);
}

input[type=button] {
    height: 35px;
    width: 130px;
    background-color: rgb(0, 128, 255);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

input[type=button]:active {
    background-color: rgb(241, 247, 252);
}

/* CORPO - LISTA MUSICAS */

#saidaMusicaArtista {
    height: 380px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#saidaMusicaArtista::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#saidaMusicaArtista::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f500;
}

#saidaMusicaArtista::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#listaCards{
    min-height: 50px;
    height: auto;
    width: 100%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.cardItens {
    min-height: 350px;
    height: auto;
    width: 250px;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    float: left;
    text-align: left;
    border-radius: 10px;
    transition: 300ms ease all;
    position: relative;
    user-select: none;
}

.cardItens::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
}

.cardItens:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.452);
    transform: scale(1.1);
    background-color: rgba(128, 128, 128, 0.466);
    cursor: pointer;
}

.conteudoAlbum {
    height: 100px;
    width: inherit;
    overflow: hidden;
    text-align: center;
}

.conteudoAlbum p:nth-child(1),
.conteudoAlbum p:nth-child(2) {
    height: 50px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    font-size: 0.9em;
}

.conteudoAlbum p:nth-child(2) {
    font-size: 1.1em;
}

.imgAlbum {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.conteudoAlbum:active {
    text-decoration: underline;
}

/* CORPO - CAIXA EXIBICAO DA MUSICA */

#caixaExibicao {
    min-height: 10px;
    width: 1100px;
    margin: 10px auto;
    margin-bottom: 50px;
    text-align: center;
}

audio {
    margin: 20px 0px;
}

.saidaLetra {
    height: inherit;
    width: inherit;
    background-color: rgba(185, 185, 185, 0.897);
    font-weight: bold;
    padding: 50px 0px;
    border-radius: 10px;
}

/* CORPO - CAIXA TUTORIAL */

#caixaTutorial {
    height: 100%;
    width: 100%;
    /* background-color: white; */
}

}

@media screen and (max-device-width:780px) {
    body {
        /* background-color: dodgerblue; */
        color: white;
        text-align: center;
        padding-top: 40px;
        background-image: url("../image/imgBackground.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    
    body::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    
    a {
        text-decoration: none;
        color: #000000;
    }
    
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(0, 0, 0);
    }
    
    .formatarTexto {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2em;
    }
    
    /* =================== CABECALHO =================== */
    header {
        height: 150px;
        width: 100%;
        margin: 0px auto;
        color: black;
    }
    
    #caixaUsuario {
        height: inherit;
        width: 250px;
        margin: 0px auto;
        /* float: left; */
    }
    
    #caixaUsuario img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 4px ridge rgb(175, 32, 32);
        cursor: pointer;
    }
    
    #caixaRedeSocial {
        min-height: 70px;
        height: auto;
        width: 350px;
        background-color: white;
        border: 2px solid rgb(73, 133, 230);
        border-radius: 15px;
        box-shadow: 2px 2px 10px black;
        margin: 0px auto;
        padding-top: 5px;
        box-sizing: border-box;
        display: none;
    }
    
    .imgRedeSocial, .imgRedeSocial img {
        height: 54px;
        width: 54px;
        margin: 0px auto;
        float: left;
    }
    
    .imgRedeSocial {
        margin-left: 30px;
        margin-right: 10px;
    }
    
    figcaption {
        margin-top: 20px;
        float: left;
    }
    
    .mostrarAniamacaoUsuario {
        animation: mostrarAnimacaoUsuario 750ms;
        animation-fill-mode: forwards;
    }
    
    .esconderAniamacaoUsuario {
        animation: esconderAnimacaoUsuario 1050ms;
        animation-fill-mode: backwards;
    }
    
    @keyframes mostrarAnimacaoUsuario {
        from {
            opacity: 0;
            transform: translateY(-25%);
            
        }
    
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    
    @keyframes esconderAnimacaoUsuario {
        from {
            opacity: 1;
            transform: translateY(0%);
        }
    
        to {
            opacity: 0;
            transform: translateY(-25%);
            
        }
    }
    
    
    /* =================== CORPO =================== */
    
    h1 {
        font-size: 2em;
        font-family: fantasy;
        text-align: center;
    }
    
    #caixaCentraliza {
        min-height: 200px;
        height: auto;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.425);
        border-radius: 10px;
        box-shadow: 3px 3px 15px black;
    
        color: black;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 100px;
        margin: 20px auto;
        box-sizing: border-box;
    }
    
    /* CORPO - FORMULARIO */
    
    form {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    input[type=text] {
        height: 30px;
        width: 90%;
        box-shadow: 1px 1px 10px black;
        border-radius: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    
    input[type=button] {
        height: 40px;
        width: 150px;
        background-color: rgb(0, 128, 255);
        color: white;
        border: 2px solid white;
        border-radius: 10px;
    }
    
    input[type=button]:active {
        background-color: rgb(241, 247, 252);
    }
    
    /* CORPO - LISTA MUSICAS */
    
    #saidaMusicaArtista {
        height: 500px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    #saidaMusicaArtista::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    
    #saidaMusicaArtista::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    #saidaMusicaArtista::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    
    #listaCards {
        min-height: 350px;
        height: auto;
        width: 100%;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .cardItens {
        min-height: 350px;
        height: auto;
        width: 250px;
        margin: 30px auto;
        text-align: left;
        /* background-color: black; */
    }
    
    .conteudoAlbum {
        min-height: 30px;
        height: auto;
        width: inherit;
        overflow: hidden;
        text-align: center;
        margin: 0px auto;
    }
    
    .conteudoAlbum p:nth-child(1),
    .conteudoAlbum p:nth-child(2) {
        height: 50px;
        width: 90%;
        padding-top: 15px;
        padding-left: 15px;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
        font-size: 0.9em;
    }
    
    .conteudoAlbum p:nth-child(2) {
        font-size: 1.1em;
    }
    
    .imgAlbum {
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    
    .conteudoAlbum:active {
        text-decoration: underline;
    }
    
    /* CORPO - CAIXA EXIBICAO DA MUSICA */
    
    #caixaExibicao {
        min-height: 10px;
        width: 90%;
        /* background-color: green; */
        margin: 10px auto;
        margin-bottom: 50px;
        margin-top: 10px;
        text-align: center;
    }
    
    audio {
        margin: 20px 0px;
    }
    
    .saidaLetra {
        height: inherit;
        width: 100%;
        background-color: rgba(185, 185, 185, 0.397);
        padding: 50px 0px;
        border-radius: 10px;
        filter: drop-shadow(100px);
    }
    
    /* CORPO - CAIXA TUTORIAL */
    
    #caixaTutorial {
        height: 100%;
        width: 100%;
        /* background-color: white; */
    }   
}